################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RanderAPI/bin/Debug/net8.0
/RanderAPI/obj
